html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:  #dfdfdf ;
    gap: 5vh;
    font-family: 'Roboto', sans-serif;
}

.settings {
    width: 70vw;
    max-width: 600px;
    height: 20vh;
    max-height: 50px;
    background-color: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}

.settings > button:hover, input:hover {
    transform: scale(1.05);
    transition-duration: .15s;
    cursor: pointer;
}

.settings > button {
    background-color: transparent;
    border: 1px solid #808080;
    border-radius: 5px;
    font-size:x-large;
    width: 15vw;
    max-width: 200px;
    height: 6vh;
    max-height: 60px;
}

.settings > input {
    -webkit-appearance: none;
    border: none;
    width: 8vw;
    max-width: 90px;
    height: 8vw;
    max-height: 90px;
    padding: 0;
}

form {
    width: 15vw;
    max-width: 200px;
    height: 6vh;
    max-height: 60px;
    font-size:x-large;
    border: 1px solid #808080;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#range {
    -webkit-appearance: none;
    width: 90%;
    height: 5px;
    margin-top: 10px;
    border-radius: 5px;
    opacity: .7;
}

#range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 10px;
    background: black;
    cursor: pointer;
  }

.container {
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
}

.container-wrapper {
    height: 75vw;
    width: 75vw;
    max-width: 700px;
    max-height: 700px;
    position: relative;
}

.container-wrapper::before {
    content: '';
    position: absolute;
    top: -15px;
    bottom: -15px;
    right: -15px;
    left: -15px;
    background-color: #808080;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.404) 0px 5px 15px;
    z-index: -1;
}

.container > * {
    height: 100%;
    background-color: #ffffff;
    transition: all .1s;
}